<div class="row">
  <div class="col-md-5">
    <app-recipe-list
    (recipeWasSelected)="finalSelectedRecipe = $event"></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail
    *ngIf="finalSelectedRecipe;else infoText"
    [recipe]="finalSelectedRecipe"></app-recipe-detail>
    <ng-template #infoText><p>Hungry?? Please select a Recipe </p></ng-template>
  </div>
</div>


<!-- ng g c recipes --skip-tests -->

<!-- the setup is to have list on the left,
if we click a item the detail component is displayed on the right.
so the recipe component will hold both list and detail 
recipe list can container recipe item-->


<!-- recipes
 - recipe-list -> recipe-item
 - recipe-detail -->

<!-- nest other components by giving path
- We can easily tell the CLI to create this component in a sub folder by basically passing a path here.
   1. ng g c recipes/recipe-list --skip-tests
   2. ng g c recipes/recipe-detail --skip-tests
   3. ng g c recipes/recipe-list/recipe-item --skip-tests -->

   <!-- shopping-list -> shopping-edit  -->
