<!-- testing bootstrap -->
<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes></app-recipes>
      <app-shopping-list> </app-shopping-list>
    </div>
  </div>
</div>


<!-- recipes and shopping list component should not be on the same page.

want components to communicate with each other

so that we can actually store the content of the items in our recipe list in their own component,

that we can select the recipe here and load it in the detail section -->