<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
<hr>
 <div class="row"> <!--holds list of recipes -->
  <div class="col-xs-12"> <!--list comp is nested in md 5 col width -->
  <!-- <app-recipe-item 
    *ngFor = "let recipeEl of recipes"
    [recipe]="recipeEl"
    (selectedRecipe)=" onRecipeSelected(recipeEl)"></app-recipe-item>  -->
    <app-recipe-item 
    *ngFor = "let recipeEl of recipes; let i = index"
    [recipe]="recipeEl"
    [index] = "i"
    ></app-recipe-item> 
  </div>
</div>



<!-- initially we were o/p only recipe item, obvsly need to loop thru all recipes -->
<!--getting recipe data data down to recipe item ??? -->
<!--meanwhile adding data for single recipe in this list only-->

<!-- We have the same issue in the list component where we had to put in the code for a single item temporarily,
because if we would outsource it to the recipe item component 
we couldn't pass our recipe in this loop of recipes to that component.
So that cross component communication is a huge issue right now. -->

<!-- 261
pass index along with recipe -->